#superman1 {
	background-image: url("superman1.jpg");
}
#superman2 {
	background-image: url("superman2.jpg");
}
#superman3 {
	background-image: url("superman3.jpg");
}
#superman4 {
	background-image: url("superman4.jpg");
}
#superman5 {
	background-image: url("superman5.jpg");
}
#superman6 {
	background-image: url("superman6.jpg");
}
#superman7 {
	background-image: url("superman7.jpg");
}
#superman8 {
	background-image: url("superman8.jpg");
}
#superman9 {
	background-image: url("superman9.jpg");
}
#superman10 {
	background-image: url("superman10.jpg");
}
#superman11 {
	background-image: url("superman11.jpg");
}
#superman12 {
	background-image: url("superman12.jpg");
}
#superman13 {
	background-image: url("superman13.jpg");
}
#superman14 {
	background-image: url("superman14.jpg");
}
#superman15 {
	background-image: url("superman15.jpg");
}
#superman16 {
	background-image: url("superman16.jpg");
}
#superman17 {
	background-image: url("superman17.jpg");
}
#superman18 {
	background-image: url("superman18.jpg");
}
#superman19 {
	background-image: url("superman19.jpg");
}
#superman20 {
	background-image: url("superman20.jpg");
}
#superman21 {
	background-image: url("superman21.jpg");
}
#superman22 {
	background-image: url("superman22.jpg");
}
#superman23 {
	background-image: url("superman23.jpg");
}
#superman24 {
	background-image: url("superman24.jpg");
}
#superman25 {
	background-image: url("superman25.jpg");
}
#superman26 {
	background-image: url("superman26.jpg");
}
#superman27 {
	background-image: url("superman27.jpg");
}
#superman28 {
	background-image: url("superman28.jpg");
}
#superman29 {
	background-image: url("superman29.jpg");
}
#superman30 {
	background-image: url("superman30.jpg");
}
#superman31 {
	background-image: url("superman31.jpg");
}
#superman32 {
	background-image: url("superman32.jpg");
}
#superman33 {
	background-image: url("superman33.jpg");
}
#superman34 {
	background-image: url("superman34.jpg");
}
#superman35 {
	background-image: url("superman35.jpg");
}
#superman36 {
	background-image: url("superman36.jpg");
}
#superman37 {
	background-image: url("superman37.jpg");
}
#superman38 {
	background-image: url("superman38.jpg");
}
#superman39 {
	background-image: url("superman39.jpg");
}
#superman40 {
	background-image: url("superman40.jpg");
}
