#lantern1 {
	background-image: url("lantern1.jpg");
}
#lantern2 {
	background-image: url("lantern2.jpg");
}
#lantern3 {
	background-image: url("lantern3.jpg");
}
#lantern4 {
	background-image: url("lantern4.jpg");
}
#lantern5 {
	background-image: url("lantern5.jpg");
}
#lantern6 {
	background-image: url("lantern6.jpg");
}
#lantern7 {
	background-image: url("lantern7.jpg");
}
#lantern8 {
	background-image: url("lantern8.jpg");
}
#lantern9 {
	background-image: url("lantern9.jpg");
}
#lantern10 {
	background-image: url("lantern10.jpg");
}
#lantern11 {
	background-image: url("lantern11.jpg");
}
#lantern12 {
	background-image: url("lantern12.jpg");
}
#lantern13 {
	background-image: url("lantern13.jpg");
}
#lantern14 {
	background-image: url("lantern14.jpg");
}
#lantern15 {
	background-image: url("lantern15.jpg");
}
#lantern16 {
	background-image: url("lantern16.jpg");
}
#lantern17 {
	background-image: url("lantern17.jpg");
}
#lantern18 {
	background-image: url("lantern18.jpg");
}
#lantern19 {
	background-image: url("lantern19.jpg");
}
#lantern20 {
	background-image: url("lantern20.jpg");
}
#lantern21 {
	background-image: url("lantern21.jpg");
}
#lantern22 {
	background-image: url("lantern22.jpg");
}
#lantern23 {
	background-image: url("lantern23.jpg");
}
#lantern24 {
	background-image: url("lantern24.jpg");
}
#lantern25 {
	background-image: url("lantern25.jpg");
}
#lantern26 {
	background-image: url("lantern26.jpg");
}
#lantern27 {
	background-image: url("lantern27.jpg");
}
#lantern28 {
	background-image: url("lantern28.jpg");
}
#lantern29 {
	background-image: url("lantern29.jpg");
}
#lantern30 {
	background-image: url("lantern30.jpg");
}
#lantern31 {
	background-image: url("lantern31.jpg");
}
#lantern32 {
	background-image: url("lantern32.jpg");
}
#lantern33 {
	background-image: url("lantern33.jpg");
}
#lantern34 {
	background-image: url("lantern34.jpg");
}
#lantern35 {
	background-image: url("lantern35.jpg");
}
#lantern36 {
	background-image: url("lantern36.jpg");
}
#lantern37 {
	background-image: url("lantern37.jpg");
}
#lantern38 {
	background-image: url("lantern38.jpg");
}
#lantern39 {
	background-image: url("lantern39.jpg");
}
#lantern40 {
	background-image: url("lantern40.jpg");
}