#slide-1 {
	background-image: url("image1.jpg");
}

#slide-2 {
	background-image: url("image2.jpg");
}

#slide-3 {
	background-image: url("image3.jpg");
}
#news1 {
	background-image: url("news1.jpg");
}
#news2 {
	background-image: url("news2.jpg");
}
#news3 {
	background-image: url("news3.jpg");
}
#news4 {
	background-image: url("news4.jpg");
}
#char1 {
	background-image: url("char1.jpg");
}
#char2 {
	background-image: url("char2.jpg");
}
#char3 {
	background-image: url("char3.jpg");
}
#char4 {
	background-image: url("char4.jpg");
}
#char5 {
	background-image: url("char5.jpg");
}
#char6 {
	background-image: url("char6.jpg");
}

#team1 {
	background-image: url("team1.jpg");
}
#team2 {
	background-image: url("team2.jpg");
}
#team3 {
	background-image: url("team3.jpg");
}
#team4 {
	background-image: url("team4.jpg");
}
#character1 {
	background-image: url("character1.png");
}
#shadow1 {
	background-image: url("character1shadow.png");
}
#character2 {
	background-image: url("character2.png");
}
#shadow2 {
	background-image: url("character2shadow.png");
}
#character3 {
	background-image: url("character3.png");
}
#shadow3 {
	background-image: url("character3shadow.png");
}
#character4 {
	background-image: url("character4.png");
}
#shadow4 {
	background-image: url("character4shadow.png");
}
#character5 {
	background-image: url("character5.png");
}
#shadow5 {
	background-image: url("character5shadow.png");
}
#character6 {
	background-image: url("character6.png");
}
#shadow6 {
	background-image: url("character6shadow.png");
}
#character7 {
	background-image: url("character7.png");
}
#shadow7 {
	background-image: url("character7shadow.png");
}
#character8 {
	background-image: url("character8.png");
}
#shadow8 {
	background-image: url("character8shadow.png");
}
#character9 {
	background-image: url("character9.png");
}
#shadow9 {
	background-image: url("character9shadow.png");
}
#character10 {
	background-image: url("character10.png");
}
#shadow10 {
	background-image: url("character10shadow.png");
}


