#wolverine0 {
	background-image: url("wolverine0.jpg");
}
#wolverine1 {
	background-image: url("wolverine1.jpg");
}
#wolverine2 {
	background-image: url("wolverine2.jpg");
}
#wolverine3 {
	background-image: url("wolverine3.jpg");
}
#wolverine4 {
	background-image: url("wolverine4.jpg");
}
#wolverine5 {
	background-image: url("wolverine5.jpg");
}
#wolverine6 {
	background-image: url("wolverine6.jpg");
}
#wolverine7 {
	background-image: url("wolverine7.jpg");
}
#wolverine8 {
	background-image: url("wolverine8.jpg");
}
#wolverine9 {
	background-image: url("wolverine9.jpg");
}
#wolverine10 {
	background-image: url("wolverine10.jpg");
}
#wolverine11 {
	background-image: url("wolverine11.jpg");
}
#wolverine12 {
	background-image: url("wolverine12.jpg");
}
#wolverine13 {
	background-image: url("wolverine13.jpg");
}
#wolverine14 {
	background-image: url("wolverine14.jpg");
}
#wolverine15 {
	background-image: url("wolverine15.jpg");
}
#wolverine16 {
	background-image: url("wolverine16.jpg");
}
#wolverine17 {
	background-image: url("wolverine17.jpg");
}
#wolverine18 {
	background-image: url("wolverine18.jpg");
}
#wolverine19 {
	background-image: url("wolverine19.jpg");
}
#wolverine20 {
	background-image: url("wolverine20.jpg");
}
#wolverine21 {
	background-image: url("wolverine21.jpg");
}
#wolverine22 {
	background-image: url("wolverine22.jpg");
}
#wolverine23 {
	background-image: url("wolverine23.jpg");
}
#wolverine24 {
	background-image: url("wolverine24.jpg");
}
#wolverine25 {
	background-image: url("wolverine25.jpg");
}
#wolverine26 {
	background-image: url("wolverine26.jpg");
}
#wolverine27 {
	background-image: url("wolverine27.jpg");
}
#wolverine28 {
	background-image: url("wolverine28.jpg");
}
#wolverine29 {
	background-image: url("wolverine29.jpg");
}
#wolverine30 {
	background-image: url("wolverine30.jpg");
}