#wonder1 {
	background-image: url("wonder1.jpg");
}
#wonder2 {
	background-image: url("wonder2.jpg");
}
#wonder3 {
	background-image: url("wonder3.jpg");
}
#wonder4 {
	background-image: url("wonder4.jpg");
}
#wonder5 {
	background-image: url("wonder5.jpg");
}
#wonder6 {
	background-image: url("wonder6.jpg");
}
#wonder7 {
	background-image: url("wonder7.jpg");
}
#wonder8 {
	background-image: url("wonder8.jpg");
}
#wonder9 {
	background-image: url("wonder9.jpg");
}
#wonder10 {
	background-image: url("wonder10.jpg");
}
#wonder11 {
	background-image: url("wonder11.jpg");
}
#wonder12 {
	background-image: url("wonder12.jpg");
}
#wonder13 {
	background-image: url("wonder13.jpg");
}
#wonder14 {
	background-image: url("wonder14.jpg");
}
#wonder15 {
	background-image: url("wonder15.jpg");
}
#wonder16 {
	background-image: url("wonder16.jpg");
}
#wonder17 {
	background-image: url("wonder17.jpg");
}
#wonder18 {
	background-image: url("wonder18.jpg");
}
#wonder19 {
	background-image: url("wonder19.jpg");
}
#wonder20 {
	background-image: url("wonder20.jpg");
}
#wonder21 {
	background-image: url("wonder21.jpg");
}
#wonder22 {
	background-image: url("wonder22.jpg");
}
#wonder23 {
	background-image: url("wonder23.jpg");
}
#wonder24 {
	background-image: url("wonder24.jpg");
}
#wonder25 {
	background-image: url("wonder25.jpg");
}
#wonder26 {
	background-image: url("wonder26.jpg");
}
#wonder27 {
	background-image: url("wonder27.jpg");
}
#wonder28 {
	background-image: url("wonder28.jpg");
}
#wonder29 {
	background-image: url("wonder29.jpg");
}
#wonder30 {
	background-image: url("wonder30.jpg");
}