#daredevil1 {
	background-image: url("daredevil1.jpg");
}
#daredevil2 {
	background-image: url("daredevil2.jpg");
}
#daredevil3 {
	background-image: url("daredevil3.jpg");
}
#daredevil4 {
	background-image: url("daredevil4.jpg");
}
#daredevil5 {
	background-image: url("daredevil5.jpg");
}
#daredevil6 {
	background-image: url("daredevil6.jpg");
}
#daredevil7 {
	background-image: url("daredevil7.jpg");
}
#daredevil8 {
	background-image: url("daredevil8.jpg");
}
#daredevil9 {
	background-image: url("daredevil9.jpg");
}
#daredevil10 {
	background-image: url("daredevil10.jpg");
}
#daredevil11 {
	background-image: url("daredevil11.jpg");
}
#daredevil12 {
	background-image: url("daredevil12.jpg");
}
#daredevil13 {
	background-image: url("daredevil13.jpg");
}
#daredevil14 {
	background-image: url("daredevil14.jpg");
}
#daredevil15 {
	background-image: url("daredevil15.jpg");
}
#daredevil16 {
	background-image: url("daredevil16.jpg");
}
#daredevil17 {
	background-image: url("daredevil17.jpg");
}
#daredevil18 {
	background-image: url("daredevil18.jpg");
}
#daredevil19 {
	background-image: url("daredevil19.jpg");
}
#daredevil20 {
	background-image: url("daredevil20.jpg");
}
#daredevil21 {
	background-image: url("daredevil21.jpg");
}
#daredevil22 {
	background-image: url("daredevil22.jpg");
}
#daredevil23 {
	background-image: url("daredevil23.jpg");
}
#daredevil24 {
	background-image: url("daredevil24.jpg");
}
#daredevil25 {
	background-image: url("daredevil25.jpg");
}
#daredevil26 {
	background-image: url("daredevil26.jpg");
}
#daredevil27 {
	background-image: url("daredevil27.jpg");
}
#daredevil28 {
	background-image: url("daredevil28.jpg");
}
#daredevil29 {
	background-image: url("daredevil29.jpg");
}
#daredevil30 {
	background-image: url("daredevil30.jpg");
}