#captain1 {
	background-image: url("captain1.jpg");
}
#captain2 {
	background-image: url("captain2.jpg");
}
#captain3 {
	background-image: url("captain3.jpg");
}
#captain4 {
	background-image: url("captain4.jpg");
}
#captain5 {
	background-image: url("captain5.jpg");
}
#captain6 {
	background-image: url("captain6.jpg");
}
#captain7 {
	background-image: url("captain7.jpg");
}
#captain8 {
	background-image: url("captain8.jpg");
}
#captain9 {
	background-image: url("captain9.jpg");
}
#captain10 {
	background-image: url("captain10.jpg");
}
#captain11 {
	background-image: url("captain11.jpg");
}
#captain12 {
	background-image: url("captain12.jpg");
}
#captain13 {
	background-image: url("captain13.jpg");
}
#captain14 {
	background-image: url("captain14.jpg");
}
#captain15 {
	background-image: url("captain15.jpg");
}
#captain16 {
	background-image: url("captain16.jpg");
}
#captain17 {
	background-image: url("captain17.jpg");
}
#captain18 {
	background-image: url("captain18.jpg");
}
#captain19 {
	background-image: url("captain19.jpg");
}
#captain20 {
	background-image: url("captain20.jpg");
}
#captain21 {
	background-image: url("captain21.jpg");
}
#captain22 {
	background-image: url("captain22.jpg");
}